CLASS_API_KEY=your_key_here
TEXT_EMBEDDING_URL=http://dobolyi.com:9002/v2/embed
VISUAL_EMBEDDING_URL=http://dobolyi.com:9003/v1/embeddings
RERANKER_URL=http://dobolyi.com:9004/rerank
DOCUMENT_PARSER_URL=http://dobolyi.com:9005/v1/chat/completions
